body{
    padding:10px;

}
button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
   
}
#status{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.user{
    border: 1px solid black;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}