.hero{
    background:#fd790d;
    color:white;
    text-align:center;
    padding:100px 0;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.about{
    background:#f8f9fa;
}

footer{
    background:#212529;
    color:white;
    padding:20px;
}

footer a{
    color:white;
    font-size:24px;
    margin:0 10px;
    text-decoration:none;
}

footer a:hover{
    color:#0d6efd;
}